// pre-defined style
@import './variables';
@import './breakpoints';
// mixins
@import './mixins/container';
@import './mixins/montserrat';
@import './mixins/default-font';
@import './mixins/bounce-out';
@import './mixins/prefixed';
// components
@import './components/nav';
@import './components/page';
@import './components/hero';
@import './components/cursor';
@import './components/menu';
@import './components/backdrop';
@import './components/chat';
@import './components/footer';
@import './components/hover-link';
@import './components/featured-projects';
// project
@import './components/project/header';
@import './components/project/intro';
@import './components/project/video';
@import './components/project/image-gallery';
@import './components/project/next-project';
@import './components/project/parallax';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  @include default-font;
  color: $black;
  background: $white;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
}

::-moz-selection {
  background: $black;
  color: $white;
}
::selection {
  background: $black;
  color: $white;
}

.loading {
  visibility: hidden;
}

.fixed {
  overflow: hidden;
}
