.project-header {
  background-color: $white;

  .project-header-container {
    @include container;

    .project-header-title {
      min-height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        @include default-font;
        font-weight: 600;
        font-size: 1.25rem;
        margin-bottom: 1rem;
      }
      h2 {
        @include default-font;
        font-weight: 500;
        font-size: 6rem;
        line-height: 6rem;
        max-width: 70%;
        @include media('<=desktop') {
          font-size: 5rem;
          line-height: 5rem;
        }
        @include media('<=tablet') {
          font-size: 2.5rem;
          line-height: 2.5rem;
          max-width: 100%;
        }
      }
      p {
        font-size: 2rem;
        @include media('<=tablet') {
          font-size: 1rem;
        }
      }
    }
  }
}
