.image-gallery {
  height: 100%;
  .image-gallery-inner {
    padding: 5rem 15rem 8rem 15rem;
    height: 100%;
    @include media('<=desktop') {
      padding: 8rem 60px;
    }
    @include media('<=tablet') {
      padding: 5rem 30px;
    }
    background-color: $white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 500px);
    grid-gap: 4rem;
    justify-content: space-between;

    @include media('<=tablet') {
      grid-template-rows: repeat(2, 500px);
      grid-template-columns: repeat(1, 1fr);
    }

    .image-gallery-item {
      position: relative;
      width: 100%;

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          transform: translateY(100px * $i);
          @include media('<=tablet') {
            transform: none;
            margin-top: 2rem;
          }
        }
      }

      .parallax-inner {
        position: relative;
        height: 100%;
        width: 100%;
      }

      img {
        object-fit: cover;
      }
    }
  }
}
