<style type="text/css" media="screen">
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
<div dir="auto">Met vriendelijke groet,</div>
<div dir="auto"><br /></div>
<div dir="auto"><br /></div>
<div dir="auto"><b>Jurrian Lammerts</b></div>
<div dir="auto">Full Stack Developer</div>
<div dir="auto"><br /></div>
<span dir="auto" style="color: #d5a6bd; font-size: large"><b>Mood</b></span
><span dir="auto" style="font-size: large"><b>Request</b></span>
<div dir="auto"><br /></div>
<div>
  <a href="tel:+31650409293" dir="auto" style="color: #d5a6bd"
    >+31 6 50 40 92 93</a
  >
</div>
<a href="moodrequest.com">moodrequest.com</a>
