.chat {
  position: fixed;
  bottom: 48px;
  right: 48px;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.1s ease-in;
  cursor: pointer;
  svg {
    fill: #fff;
    width: 28px;
  }

  &:hover {
    transform: scale(1.1);
    svg {
      transform: none;
    }
  }

  @include media('<=tablet') {
    bottom: 30px;
    right: 30px;
    height: 48px;
    width: 48px;
    svg {
      fill: #fff;
      width: 18px;
    }
  }
}
