header {
  position: absolute;
  top: 60px;
  left: 60px;
  right: 60px;

  @include media('<=tablet') {
    top: 10px;
    left: 30px;
    right: 30px;
  }

  .header-inner {
    .header-inner-logo {
      a {
        font-weight: 600;
        text-decoration: none;
        color: $black;
        width: fit-content;
        top: 0;
        position: absolute;
        z-index: 13;
        line-height: 1;
        margin: 0;
        font-size: 1.5rem;
        @include media('<=tablet') {
          top: 30px;
          left: 0;
          right: 30px;
          z-index: 10;
        }
      }
    }
    .header-inner-menu {
      position: relative;
      .header-inner-menu-label {
        font-size: 1.25rem;
        font-weight: 500;
        position: absolute;
        z-index: 10;
        top: 0;
        right: 54px;
        display: block;
        @include media('<=tablet') {
          display: none;
        }
      }
      .header-inner-menu-burger {
        position: fixed;
        z-index: 16;
        top: 50px;
        right: 60px;
        width: 48px;
        height: 48px;
        @include media('<=tablet') {
          top: 28px;
          right: 30px;
        }
        .hamburger-react {
          position: fixed !important;
          top: 0;
          right: 0;
          z-index: 15;
          mix-blend-mode: exclusion;
          & > * {
            background-color: $white !important;
          }
        }
      }
    }
  }
}
