.hero {
  background: #fff;
  .container {
    padding: 5rem 240px;
    height: 100%;
    @include media('<=desktop') {
      padding: 8rem 60px;
    }
    @include media('<=tablet') {
      padding: 5rem 30px;
    }

    .hero-inner {
      min-height: 80vh;
      height: 100%;
      width: 100%;
      display: flex;
      justify-self: center;
      align-items: center;
      flex-direction: row;

      @include media('<=tablet') {
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
      }

      @include media('<=desktop') {
        height: 100%;
        min-height: 100%;
      }

      .hero-video {
        justify-content: center;
        align-items: center;
        display: none;
        padding: 2rem;
        width: 100%;
        @include media('<=desktop') {
          display: flex;
        }
        .hero-video-inner {
          overflow: hidden;
          border-radius: 50%;
          clip-path: inset(0 0 0 0 round 50%);
          width: 300px;
          height: 300px;
          @include media('<=tablet') {
            height: 240px;
            width: 240px;
          }
          video {
            width: 300px;
            height: 300px;
            @include media('<=tablet') {
              height: 240px;
              width: 240px;
            }
          }
        }
      }
      .hero-inner-col {
        position: relative;
        .hero-inner-title {
          z-index: 11;
          position: relative;
          h1 {
            margin: 0;
            font-weight: 400;
            @media (min-width: 1800px) {
              font-size: 28px;
            }
          }
        }
        .hero-inner-links {
          z-index: 11;
          position: relative;
          display: flex;
          justify-content: flex-start;

          @include media('<=desktop') {
            flex-direction: column;
          }

          .hero-inner-link-item {
            .hero-inner-link-item-padding {
              @include media('<=desktop') {
                display: none;
              }
              display: block;
              position: relative;
              &:before {
                content: '';
                display: block;
                position: absolute;
                top: -30vh;
                bottom: -30vh;
                left: 0;
                right: 0;
              }
            }
            a {
              padding: 12px 22px;
              display: inline-block;
              position: relative;
              overflow: hidden;
              text-decoration: none;
              color: transparent;
              transition: color 0.3s, -webkit-text-stroke 0.3s;
              line-height: 1.1;
              font-weight: 700;
              text-shadow: none;
              font-size: 5.8vw;
              -webkit-text-stroke: 1px $black;
              &:hover {
                color: $black;
                -webkit-text-stroke: 1px transparent;
              }

              @include media('<=desktop') {
                padding-left: 0;
                font-size: 8vw;
                color: $black;

                &:hover {
                  -webkit-text-stroke: 1px $black;
                }
              }
            }
            &:first-child {
              a {
                padding-left: 0;
              }
            }
            &:last-child {
              a {
                padding-right: 0;
              }
            }
          }
        }
      }
    }
    .hero-inner-footer {
      .hero-inner-footer-text {
        p {
          font-size: 30px;
          line-height: 40px;
          width: 100%;
          max-width: 50rem;
          @include media('<=desktop') {
            font-size: 20px;
            line-height: 31px;
          }
        }
      }
    }
  }
}
