.hover-link {
  position: relative;
  width: fit-content;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 2px solid;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: scale(0, 1);
  }

  &:hover:after {
    opacity: 1;
    transform: scale(1);
  }

  &.small {
    &:after {
      border-bottom: 1px solid;
    }
  }

  &.reversed {
    &:after {
      opacity: 1;
      transform: scale(1);
    }

    &:hover:after {
      opacity: 0;
      transform: scale(0, 1);
    }
  }
}
