.page {
  height: 100vh;
  .page-inner {
    position: relative;
    z-index: 3;
    box-shadow: $black 0 7px 35px 0;
  }
  .page-placeholder {
    z-index: 1;
    height: 100vh;
    @include media('<=tablet') {
      height: 75vh;
    }
  }
}
